
html, body
{
    height: 95%;
    background-color: steelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.calculator 
{

    width: 90%;
    height: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    padding: 5%;
    border-radius: 1%;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
}

input.display 
{
    text-align: right;

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 200%;
}

div.buttons  
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;


    display: grid;

    gap: 5% 0%;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
}

div.button_row
{
}

div.button_row button
{
    border-radius: 10%;
    width: 20%;
    height: 100%;
}

button.buttons:active 
{

}
