body 
{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
}

.calculator 
{
    background-color: darkgray;
    border-radius: 1%;
    box-shadow: 0 4px 8px  lightgray;
    padding: 2%;
}

.display 
{
    background-color: darkgray;
    width: 100%;
    font-size: 3.5em;
    margin-bottom: 1%;
    text-align: right;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
}

.buttons 
{
    display: grid;
    grid-template-columns: 1fr;
}

.button_row 
{
    display: flex;
    padding: 1%;
}

button 
{
    background-color: gray;
    color: aliceblue;
    width: 100%;
    height: 100%;
    font-size: 2em;
    border: none;
    cursor: pointer;
    border-radius: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

button:hover 
{
    background-color: #ddd;
    color: black;
}